[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
wtforms = "==2.3.3"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.9"
