{% extends 'layouts/home.html' %}
{% block tittle %} Register{% endblock %}

{% block contents %}
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/index.css')}}">
</head>

<nav class="navbar navbar-expand navbar-pink bg-pink">
    <div class="container-fluid" style="background-color: #edfcf5">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item-m">
                    <a style="background-color: #edfcf5; color: black;font-size: 20px" class="nav-link active"
                        href="{{url_for('listUsers')}}">Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="overlay">
    <form action="{{ url_for('createUser')}} " method="POST" novalidate>
        <center>
            <image src="{{url_for('static', filename='images/coink.png')}}" width="100" height="100">
        </center>
        <div class="con">            
            <header class="head-form">
                <h1>User create</h1>
            </header>           
            <div class="field-set">
                {{ user_form.csrf_token()}}
                <label style="margin-right: 2rem">Names</label>{{ user_form.name(class="form-input", id="txt-input", type="text")}}<br>
                {% for error in user_form.name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
                <br>
                <label style="margin-right: 2.5rem">Email</label>{{ user_form.email(class='form-input', id="txt-input", type="text")}}<br>
                {% for error in user_form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <br>
                <label style="margin-right: 3.2rem">City</label>{{ user_form.city(class='form-input', id="txt-input", type="text")}}<br>
                {% for error in user_form.city.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
                <br>
                {{ user_form.submit(class="btn btn-outline-light", style="background-color: #004b40; font-size: 20px; color: #edfcf5")}}
            </div>
        </div>
    </form>
</div>
{% endblock%}