{% extends 'layouts/home.html' %}
{% from "_macro.html" import render_field %}
{% block tittle %} Register{% endblock %}

{% block contents %}
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/index.css')}}">
</head>

<nav class="navbar navbar-expand navbar-pink bg-pink">
    <div class="container-fluid" style="background-color: #edfcf5">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item-m">
                    <a style="background-color: #edfcf5; color: black;font-size: 20px" class="nav-link active"
                        href="{{url_for('listUsers')}}">Users</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="overlay">
    <form action="{{ url_for('createUser')}} " method="POST" novalidate>
        <center>
            <image src="{{url_for('static', filename='images/coink.png')}}" width="100" height="100">
        </center>
        <div class="con">            
            <header class="head-form">
                <h1>User create</h1>
            </header>
            <div class="field-set">           
                <label style="margin-right: 2rem">Names</label>
                <input class="form-input" id="txt-input" type="text" name="names" placeholder="" required>
                <br>
                <label style="margin-right: 2.5rem">Email</label>
                <input class="form-input" id="txt-input" type="email" name="email" placeholder="">
                <br>
                <label style="margin-right: 3.2rem">City</label>
                <input class="form-input" id="txt-input"  type="text" name="city" placeholder="" required>
                <br>
                <button type="submit" class="btn btn-outline-light" style="background-color: #e3fbf4; font-size: 20px; color: #252537">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock%}