{% extends 'layouts/home.html' %} {% block tittle %} List {% endblock %} {% block contents %}
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/list_users.css')}}">
</head>
<nav class="navbar navbar-expand navbar-pink bg-pink">
    <div class="container-fluid" style="background-color: #c4f6dc">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item-m">
                    <a style="background-color: #c4f6dc; color: black;font-size: 20px" class="nav-link active"
                        href="{{url_for('createUser')}}">Create User</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<br>
<h1 class="display-4" align="center">List Users</h1>
<br>
<form align="center" action="{{ url_for('listUsers') }}" method="GET">
    <table class="table table-responsive table-bordered" style="background-color: whitesmoke" id="users" cellspacing="10px">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Names</th>
                <th scope="col">Email</th>
                <th scope="col">City</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
                <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.names }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.city }}</td>
                <td>
                    <a method="POST" href="/delete/{{ u.id }}" style="margin-left: 10px" class="btn btn-danger">🗑️</a>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock %}